{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <div id="snackbar" class=" flex items-center  show">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" class="text-rose-600 w-2"
                d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
        </svg>
        <div class="pl-2">
            Error
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>

    <script defer>
        setTimeout(() => {
            document.getElementById('snackbar').classList.remove('show');
        }, 3000);
    </script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

