{% include 'common/header.html' %}

<main class="min-h-screen grid grid-cols-1 sm:grid-cols-2  ">
    <div class="col-span-1 flex flex-col items-center justify-between bg-[#f5f5f4]">
        <div class="p-4 shadow-md w-full text-center font-bold text-xl bg-white">Signup Page</div>
        <form class="flex flex-col items-center w-full space-y-4 max-w-xs" action="/signup" method="POST">
            <div class="flex space-x-2">
                <input type="text" class="input input-md input-bordered w-1/2 h-10" placeholder="First Name" required
                    name="first_name">
                <input type="text" class="input input-md input-bordered w-1/2 h-10" placeholder="Last Name" required
                    name="last_name">
            </div>
            <input type="email" class="input input-md input-bordered w-full h-10" placeholder="Email" required
                name="email">
            <input type="text" class="input input-md input-bordered w-full h-10" placeholder="Phone Number (05x)"
                required pattern="^05\d{8}$" name="phone_number">
            <input type="password" class="input input-md input-bordered w-full h-10" placeholder="Password" required
                name="password">
            <input type="password" class="input input-md input-bordered w-full h-10" placeholder="Confirm Password"
                required name="confirm_password">
            <div class="flex items-center justify-between w-full">
                <div class="form-control">
                    <label class="cursor-pointer label space-x-1">
                        <input type="checkbox" checked="checked" class="checkbox checkbox-secondary checkbox-sm" />
                        <span class="label-text">Remember me</span>
                    </label>
                </div>
            </div>
            <p>
                {% if error %}
                <span class="text-rose-600 text-sm">{{ error }}</span>
                {% endif %}
            </p>
            <button class="btn btn-secondary btn-sm w-full">Signup</button>
            <span>
                Already have an account? <a href="/login" class="text-center text-[#0D1F4F] underline">Login</a>
            </span>
        </form>
        <div></div>
    </div>
    <div class="col-span-1 bg-[#0d1f4f]  flex-col items-center justify-center hidden sm:flex">
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="" class="w-64">
    </div>
</main>


{% include 'common/footer.html' %}