{% include 'common/header.html' %}
{% include 'common/navbar.html' %}

<div class="min-h-screen flex flex-col ">
    <h1 class="text-center text-3xl font-bold mt-12">
        Manage Users
    </h1>
    <div class=" max-w-5xl  mt-6 mx-auto ">
        <table class="table table-zebra bg-slate-50 ">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>Profile Image </th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                <tr class="">
                    <th>{{loop.index}}</th>
                    <td>
                        <a class="w-10 rounded-full mx-auto" href="{{ user.profile_image }}" target="_blank">
                            <img alt="Profile Image" src="{{ user.profile_image }}" />
                        </a>
                    </td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>
                        <a href="mailto:{{user.email}}" class="underline">{{user.email}}</a>
                    </td>
                    <td>
                        <a href="tel:{{user.phone_number}}" class="underline"> {{user.phone_number}}</a>
                    </td>
                    <td class="flex items-center justify-center gap-4 h-full mt-2">
                        <a href="/dashboard/users/inspect/{{user.id}}" class="tooltip" data-tip="Inspect users diagnosis">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 text-blue-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                            </svg>
                        </a>

                        <a href="/dashboard/users/upgrade/{{user.id}}" class="tooltip" data-tip="Upgrade user to admin role">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 text-emerald-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                        </a>

                        <a href="/dashboard/users/delete/{{user.id}}" class="tooltip" data-tip="Delete user">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 text-rose-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                            </svg>

                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'common/footer.html' %}